.products-list {
  display: grid;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@media (min-width: 640px) {
  .products-list{
    gap:20px;
       grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  }
}
@media(min-width: 1024px){
  .products-list{
    max-width: 1200px;
    margin: 0 auto;
    gap:24px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
